@use '_variables.scss' as *;

html {
    background-color: $bg;
}

#root {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
}

.wrapper {
    margin: auto 0;
    max-width: 1000px;
    width: 65%;
}

.container {
    position: relative;
    display: block;
    margin: 30px auto;
    width: calc(100% - 30px);
    max-width: 1000px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(52,52,74,.2);
    overflow: hidden;
    border-radius: 15px;
    z-index: 20;
    border: 2px solid pink;
    padding: 10px 20px;
}

main {
    
}

ul {
    list-style-type: none;
}

li {
    padding: 0.5rem 0;
}