// Header
.nav {
    background: #edd5d8;
    width: 100%;
    border-bottom: 3px solid #c6cebe;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;

    li {
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 500;
    }
    li:hover {
        text-decoration: underline;
    }
}




// Footer
.footer {
    background: #edd5d8;
    margin: 0;
    border-top: 3px solid #c6cebe;

    p {
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}

