// Header
.nav {
    background: rgba(249, 170, 185, .3);
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;

    li {
        display: block;
        padding: 10px 15px;
    }
    li:hover {
        text-decoration: underline;
    }
}




// Footer
.footer {
    background: rgba(249, 170, 185, .3);
    margin: 0;

    p {
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}

