// MAIN

.main {
    padding: 40px;
    background-image: url('../assets/cannabis-background.jpg');

    h1 {
        margin-bottom: 0;
    }

    .descriptors {
        font-style: italic;
        margin-top: 5px;
    }

    .selfie {
        border-radius: 100%;
        box-shadow: 5px 5px 0px #c6cebe;
        margin: -80px 0 5px 30px;
        height: 300px;
        width: 300px;
        float: right;
    }
}

