// MAIN

.main {
    padding: 40px;

    h1 {
        margin-bottom: 0;
    }

    .descriptors {
        font-style: italic;
        margin-top: 5px;
    }

    .selfie {
        border-radius: 100%;
        box-shadow: 5px 5px 0px #f9aab9;
        margin: -80px 0 -15px 30px;
        height: 300px;
        width: 300px;
        float: right;
    }
}

